<div class="jumbotron">
    随微软ASP.NET MVC 4一起发布的还有一个框架，叫做ASP.NET Web API，
    是类似于REST化API的另一项web服务，简单的来讲，我的理解这就是一个提供接口的框架。
    REST指一组架构、约束、条件和原则，满足约束条件和原则的应用程序设计。
    Web API类似于webservice和wcf。
</div>
<div >
    <p>
       
        <a href="~/Index.html" >跳转到产品页面。</a>
    </p>
   

</div>

